@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

$rb:'Roboto', sans-serif;

$grey:#9aaeb9;
$red:#c30909;
$green:#3d8b1f;

.bk-calendar {
    background: #fff;
    border-radius: 10px;
    border:2px solid $grey;
    font-family: $rb;
    font-size: 13px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;

    &--header {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        gap:10px;

        span {
            display: block;
        }
    }
    &--month-name {
        font-size: 18px;
        font-weight: bold;
        margin: 0 auto;
    }
    &--month-prev,
    &--month-next {
        width: 30px;
        height: 30px;
        cursor: pointer;
        border-radius: 50%;
        position: relative;

        &:before, &:after {
            content: "";
            display: block;
            width: 12px;
            height: 3px;
            background: darken($grey,20%);
            position: absolute;
            left: 50%;
            top: 50%;
        }
        &:before {
            margin: -5px 0px 0px -7px;
            transform: rotate(-45deg);
        }
        &:after {
            margin: 2px 0px 0px -7px;
            transform: rotate(45deg);

        }
        &:hover {
            background: rgba($grey,.2);
        }
    }

    &--month-next {
        transform: rotate(180deg);
    }



    &--week {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        justify-items: center;
        font-size: 15px;
        font-weight: bold;
        color:darken($grey,20%);
        margin-bottom: 10px;
        margin-top: 10px;

        .day {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 25px;
            user-select: none;
        }
    }

    &--dates {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        justify-items: center;

        .day {

            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            user-select: none;

            span {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 28px;
                height: 28px;
                color: #333;
                border-radius: 50%;
                font-weight: 500;
                font-size: 14px;
                border:1px solid transparent;
            }
            &:hover {
                span {
                    background: rgba($grey,.3);
                    border-color:rgba(#000,.1);
                }
            }

            &.current {
                span {
                    background: rgba($green,.1);
                    border-color: rgba($green,.2);
                }
            }
            &.selected {
                span {
                    background: rgba($green,.5);
                    border-color: rgba($green,.7);
                }
            }
            &.disabled {
                pointer-events: none;
                span {
                    background: transparent;
                    border-color: transparent;
                    opacity: 0.4;
                }
            }
        }
    }
}


.fadeLeft {
    animation: fadeLeft 0.7s ease both;
}

.fadeRight {
    animation: fadeRight 0.7s ease both;
}

@keyframes fadeLeft {
    0% {
        transform: translateX(0px);
        opacity: 1;
        filter: blur(0);
    }
    50% {
        transform: translateX(-5px);
        opacity: 0;
        filter: blur(2px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
        filter: blur(0);
    }
}
@keyframes fadeRight {
    0% {
        transform: translateX(0px);
        opacity: 1;
        filter: blur(0);
    }
    50% {
        transform: translateX(5px);
        opacity: 0;
        filter: blur(2px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
        filter: blur(0);
    }
}
